.player-profile {
    width: 42px;
    height: 42px;
    background-color: $profile-clr;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    @include for-narrow-layout {
        margin-inline-end: 18px;
    }
    
    @include for-mobile-layout{
        margin-inline-end: 0px;
    }

    @include for-narrow-mobile-layout {
        font-size: rem(14px);
        width: 30px;
        height: 30px;
    }


}