// Colors

$brand-clr: #ff0000;
$dark-bg-clr: #0f0f0f;
$light-txt-clr: #f1f1f1;
$light-gray-clr: #9e9e9e;
$dark-btn-clr: #222222;
$brdr-clr: #303030;
$profile-clr: #5c6bc0;

$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$narrow-mobile-breakpoint: 320px;
$mobile-breakpoint: 600px;
$narrow-breakpoint: 920px;
$normal-breakpoint: 1200px;
$wide-breakpoint: 1400px;